<div ng-repeat="res in reservations" class="alert al-pending" ng-class="{
  'alert-danger': res.status.toLowerCase() != 'pending',
  'alert-success': res.status.toLowerCase() == 'pending'
}">
  <span class="al-pending-status">{{ res.status }}</span>
  <!--<button class="btn btn-danger btn-xs al-pending-action" ng-show="res.status.toLowerCase() == 'pending'" ng-click="cancel()">Cancel</button>-->
  <span class="al-pending-date">{{ res.date + ' ' + res.time.from + ' -> ' + res.time.to }}</span>
  <span class="al-pending-station">{{ res.station }}</span>
</div>
