
.al-station-card {
    .al-station-name {
        font-weight: bold;
        margin-right: 5px;
    }
    .al-station-btn {
        margin-left: 5px;
    }
    .al-station-distance {

    }
    .al-station-address {
        font-style: italic;
        font-size: 0.9em;
        clear: left;
    }
}
