<div class="panel panel-default al-station-panel">
    <div class="panel-heading">
        <h3>
            {{station.public_name}}
            <small class="pull-right">
                {{station.address}}
            </small>
        </h3>
    </div>
    <div class="panel-body">

        <div class="alert alert-info clearfix" ng-if="res">
            You have a {{ res.type }} reserved here.
            <span class="label label-info" title="Remaining time">
              <span class="glyphicon glyphicon-time"></span>
              {{ res.countDown }}
            </span>

            <button class="btn btn-danger btn-xs pull-right" ng-click="cancel(res.kind, res.reservation_id)">
                <span class="glyphicon glyphicon-thumbs-down"></span>
                Cancel
            </button>
        </div>

        <al-map center-on="station.address"></al-map>

        <div class="al-station-actions clearfix">
            <button class="btn btn-primary al-station-action" ng-class="{'disabled': !station.cars}"
                    title="Click to reserve" ng-click="reserve('car', station.id)">Cars
                <span class="badge">{{station.cars}}</span>
            </button>

            <button class="btn btn-primary al-station-action" ng-class="{'disabled': !station.slots}"
                    title="Click to reserve" ng-click="reserve('park', station.id)">Parks
                <span class="badge">{{station.slots}}</span>
            </button>
        </div>

    </div>
</div>
