.al-station-list {
    .al-station {
        .al-station-name {
            font-weight: bold;
            float: left;
            margin-right: 5px;
        }
        .al-station-btn {
            margin-left: 5px;
        }
        .al-station-distance {
            float: left;

        }
        .al-station-address {
            font-style: italic;
            font-size: 0.9em;
            float: left;
            clear: left;
        }
    }
}
