<div class="row">

  <div class="al-usage-block col-xs-6">
    <span class="al-usage-label">Prev month</span>
    <span class="al-usage-amount">{{usage.prev}} €</span>
  </div>

  <div class="al-usage-block col-xs-6">
    <span class="al-usage-label">Current month</span>
    <span class="al-usage-amount">{{usage.cur}} €</span>
    <span class="al-usage-diff" ng-class="{
        'text-success':usage.cur - usage.prev < 0,
        'text-danger':usage.cur - usage.prev > 0
      }">{{ usage.diff }} €</span>
  </div>
</div>
<!-- row -->

<div class="row">
  <div class="col-sm-12">
    <al-map follow-me="true" center-on="initialPosition"></al-map>
  </div>
</div>
