<al-station-card station="nearest" no-park="true"></al-station-card>

<al-map follow-me="true" me-to="nearest" stations="stations" center-on="initialPosition" zoom="15"></al-map>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="al-usage-block col-xs-6">
                <span class="al-usage-label">Prev month</span>
                <span class="al-usage-amount">{{usage.prev}} €</span>
            </div>

            <div class="al-usage-block col-xs-6">
                <span class="al-usage-label">Current month</span>
                    <span class="al-usage-amount" ng-class="{
                'text-success':usage.cur - usage.prev < 0,
                'text-danger':usage.cur - usage.prev > 0
              }">{{usage.cur}} €</span>
            </div>
        </div>
    </div>

</div>
